h1{
    font-family: 'Staatliches', cursive;
    padding: 15px 5px 5px 15px;
    font-size: 35px;
}
ul{
    border: 1px solid black;
    outline-style: solid;
    outline-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

}
li{
    font-family: 'Staatliches', cursive;
    padding: 35px;
    font-size: 25px;
    display: inline;
}
img{
    float: center;
    display: inline;
    padding: 50px;
    transition: transform .5s;
}
img:hover{
    transform: scale(1.25);
    transition: .5s;
}
.aboutme{
    vertical-align: middle;
    font-size: 25px;
    padding: 0px 0px 0px 45px;
}
.images{
    padding-top: 30px;
    padding-left: 225px;
    padding-right: 125px;
}
a{
    color: black;
    text-decoration: none;
  }
  a:hover{
      color: darkgray;
  }
